body{
  height: 3000px;
  background-color: white;
  color: black;
  line-height: 1.34;
  margin: 0;
  padding: 0;
  direction: ltr;
}
.head{
  display: flex;
  margin-top: 0;
  margin-left: 140px;
  padding-top: 30px;
  justify-self: center;
  margin-bottom: 5px;
}
.fb-pic {
  height: 80px;
  align-items: center;
}
.fb-grid{
  height: 400px;
  width: 350px;
  border: none;
  border-color: gray;
  background-color: white;
  border-radius: 5px;
  box-shadow: 1px  1px 2px 3px rgba(0, 0, 0, 0.15);
  border-width: 1px;
  display: grid;
  margin-left: 100px;
  align-items: center;
  justify-content: center;
}
.fb-title{
  font-family: roboto, inherit;
  font-weight: 500;
  font-size: 20px;
  padding-left: 20px;
  justify-self: center;
}
.input-container{
  border: none;
  border-color: rgb(239, 233, 233);
}
.fb-name{
  height: 40px;
  width:300px;
  font-family: roboto, inherit;
  padding-left: 10px;
  color: rgb(217, 205, 205);
  font-weight: 500;
  border-color: grey;
  border-width: 1px;


}
.fb-pass{
  height: 40px;
  width: 300px;
  padding-left: 10px;
  font-family: roboto, inherit;
  color: rgb(217, 205, 205);
  font-weight: 500;
  border-color: grey;
  border-width: 1px;

}
.yes{
  display: flex;
  justify-content: center;
  align-items: center;

}
.click-me{
  background-color: rgb(81, 81, 253);
  color: white;
  border: none;
  width: 310px;
  height: 44px;
  border-radius: 6px;
  cursor: pointer;
  transition: opacity 0.15s;
}
.click-me:hover{
  opacity: 1px;
  background-color: lightskyblue;
}
.fb-forgot{
  display: flex;
  justify-content: center;
  font-family: roboto, inherit;
  text-decoration: none;

}
.line{
  display: flex;
  align-items: center;
  border-bottom: 1px solid;
  text-align: center;
  margin: 20px 16px;
  white-space: nowrap;
  overflow: hidden;
}
.new-button{
  background-color: rgb(50, 215, 50);
  color: white;
  border: none;
  width: 200px;
  height: 44px;
  border-radius: 6px;
  cursor: pointer;
  margin-bottom: 10px;
  align-items: center;
  justify-self: center;
  font-weight: 700;
  transition: opacity 0.15s;
}
.new-button:hover{
  opacity: 1px;
  background-color: lightgreen;
}